#introduction {

    .computer {
        width: 595px;
        height: 100%;
    }

    &.business {
        padding: 0;

        .text {
            padding-top: 60px;

            .subtitle {
                margin-top: 32px;
            }
        }
    }
}

#partners {

    &.business {
        background-color: #4B628B;

        span {
            color: #FFFFFF;
            font-size: 18px;
            line-height: 143%;
        }

        ul {
            display: flex;

            li {
                display: flex;
                align-items: center;

                img {
                    max-width: 86px;
                    max-height: 27.2px;
                }
            }
        }
    }
}

#growth-company {
    padding-top: 60px;

    .row-title {
        text-align: center;

        .title {
            color: #0F1726;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            text-transform: none;
        }

        .subtitle {
            color: #828282;
            font-size: 18px;
            line-height: 137%;
            margin: 35px auto 46px;
            max-width: 555px;
            text-align: center;
        }
    }

    .content {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 62px 70px;
        justify-content: center;

        .lead,
        .talent,
        .people {
            align-items: center;
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;

            .text {
                color: #0F1726;

                .title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 120%;
                }

                .description {
                    font-size: 18px;
                    line-height: 120%;
                    margin-top: 12px;
                }
            }

            .image {
                text-align: end;
            }
        }

        .talent,
        .people {
            margin-top: 36px;
        }

        .lead {

            .image {

                img {
                    max-width: 269px;
                }
            }
        }

        .talent {

            .image {

                img {
                    max-width: 346px;
                }
            }
        }

        .people {

            .image {

                img {
                    max-width: 444px;
                }
            }
        }
    }
}

#partnership {
    padding-top: 60px;

    .row-title {
        text-align: center;

        .title {
            color: #0F1726;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            text-transform: none;
        }

        .subtitle {
            color: #828282;
            font-size: 18px;
            line-height: 137%;
            margin: 35px auto 46px;
            max-width: 555px;
            text-align: center;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: center;

        #partner {

            &:first-child {
                margin-right: 13px;
            }

            &:last-child {
                margin-left: 13px;
            }

            .usp {
                max-width: 58px;
            }
        }
    }
}

#hard-soft-skills {

    .row-title {
        text-align: center;

        .title {
            color: #0F1726;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            text-transform: none;
        }

        .subtitle {
            color: #828282;
            font-size: 18px;
            line-height: 137%;
            margin: 35px auto 70px;
            max-width: 555px;
            text-align: center;
        }
    }

    .content {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 62px 70px;

        .second,
        .third {
            margin-top: 70px;
        }

        .first,
        .second,
        .third {
            display: grid;
            grid-template-columns: auto auto;

            .img {

                img {
                    height: 63px;
                }
            }

            .text {
                margin-left: 20px;

                .title {
                    color: #0F1726;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: none;
                }

                .description {
                    color: #4F4F4F;
                    font-size: 18px;
                    line-height: 137%;
                    margin-top: 14px
                }
            }
        }

        .image {
            text-align: end;
            margin: auto 0;

            img {
                max-width: 404px;
                max-height: 330.7px;
            }
        }
    }
}

#team-project {
    padding-top: 100px;

    .row-title {
        text-align: center;

        .title {
            color: #0F1726;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
        }

        .subtitle {
            color: #828282;
            font-size: 18px;
            line-height: 137%;
            max-width: 48%;
            margin: 35px auto 0;
            text-align: center;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        justify-content: space-between;
        margin-top: 60px;

        #data-card {

            &:nth-child(1) {

                i {
                    color: #27AE60;
                }
            }

            &:nth-child(2) {

                i {
                    color: #2F80ED;
                }
            }

            &:nth-child(3) {

                i {
                    color: #27AE60;
                }
            }
        }
    }
}

.dots-divider {
    padding-bottom: 60px;
}