#introduction {
    padding: 77px 152px 34px 0;


    .row {

        .title {
            margin-bottom: 15px;

            span {
                text-transform: none;
                font-size: 48px;
                font-weight: 400;
                line-height: 120%;
                color: #0F1726;
            }
        }

        .subtitle {
            margin-bottom: 24px;

            span {
                font-size: 20px;
                line-height: 137.8%;
                color: #4F4F4F
            }
        }

        .buttons {

            button:not(:last-child) {
                margin-right: 21px;
            }
        }

        .logo {
            max-height: 277px;
        }
    }
}