#introduction {
    padding: 77px 152px 34px 0;


    .row {

        .title {
            margin-bottom: 15px;

            span {
                text-transform: none;
                font-size: 48px;
                font-weight: 400;
                line-height: 120%;
                color: #0F1726;
            }
        }

        .subtitle {
            margin-bottom: 24px;

            span {
                font-size: 20px;
                line-height: 137.8%;
                color: #4F4F4F
            }
        }

        .buttons {

            button:not(:last-child) {
                margin-right: 21px;
            }
        }

        .logo {
            max-height: 277px;
        }
    }
}

#partners {
    background-color: #FFFFFF;
    padding: 40px 0;

    .container {
        justify-content: center;
        display: grid;

        li:not(:last-child) {
            margin-right: 22px;
        }
    }
}

.course-information {
    padding: 65px;

    .title {
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
        color: #0F1726;
        display: flex;
        justify-content: center;
        text-transform: none;
    }

    .subtitle {
        font-size: 18px;
        line-height: 137%;
        color: #828282;
        max-width: 55%;
        text-align: center;
        display: flex;
        margin: 35px auto 0;
    }

    .video {
        display: flex;
        margin-top: 80px;
        align-items: center;

        &-area {

            div:nth-child(1) {

                iframe {
                    max-width: 520px;
                    max-height: 293px;
                    border-radius: 18px;
                }
            }

            .dots {
                position: absolute;
                bottom: -8%;
                left: 477px;
                z-index: -1;
            }
        }

        .description {
            margin-left: 115px;
            max-width: 400px;

            span {
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                color: #0F1726;
            }

            p {
                margin-top: 17px;
                font-size: 18px;
                line-height: 137%;
                color: #4F4F4F;
            }

            button {
                margin-top: 24px
            }
        }
    }
}

.dots-divider {
    justify-content: center;
    display: flex;
    margin-top: 60px;
}

#results {

    .row-title {

        justify-content: center;
        margin: 100px 0 50px;

        .title {
            text-transform: none;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            color: #0F1726;
        }
    }

    .row-card {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        justify-content: space-between;

        #card {

            &.developer {

                header {

                    label,i {
                        color: #E2B93B;
                    }
                }
            }

            &.beginner {

                header {

                    label,i {
                        color: #2F80ED;
                    }
                }
            }

            &.company {

                header {

                    label,i {
                        color: #27AE60;
                    }

                    label {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 120%;
                    }
                }
            }

            &.developer,
            &.beginner,
            &.company {

                header {

                    label {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 120%;
                    }
                }
            }
        }
    }
}

#schools {

    .row-title {
        justify-content: center;
        margin: 100px 0 50px;

        .title {
            text-transform: none;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            color: #0F1726;
        }
    }

    .row-card {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;

        #card:nth-child(1),
        #card:nth-child(2) {
            margin-bottom: 40px;
        }

        .programming,
        .business,
        .data,
        .cybersecurity {
            header {
                
                i {
                    font-size: 35px;
                    font-weight: 400;
                }
            }
        }

        .programming {

            header {

                i {
                    color: #E2B93B;
                }
            }

            btn {

                button {
                    background-color: #E2B93B;
                    border: 1px solid #E2B93B;
                }
            }
        }

        .business {

            header {

                i {
                    color: #2F80ED;
                }
            }

            btn {

                button {
                    background-color: #2F80ED;
                    border: 1px solid #2F80ED;
                }
            }
        }

        .data {
            header {

                i {
                    color: #EB5757;
                }
            }

            btn {

                button {
                    background-color: #EB5757;
                    border: 1px solid #EB5757;
                }
            }
        }

        .cybersecurity {

            header {

                i {
                    color: #4B628B;
                }
            }

            btn {

                button {
                    background-color: #4B628B;
                    border: 1px solid #4B628B;
                }
            }
        }
    }
}

.hability {
    padding-top: 75px;

    .row-title {
        text-align: center;

        .title {
            color: #0F1726;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            text-transform: none;
        }

        .subtitle {
            color: #828282;
            font-size: 18px;
            line-height: 137.8%;
            margin: 35px auto 70px;
            max-width: 555px;
            text-align: center;
        }
    }

    .content {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 62px 70px;

        .support,
        .knowledge {
            margin-top: 70px;
        }

        .experience,
        .support,
        .knowledge {
            display: grid;
            grid-template-columns: auto auto;

            .img {

                img {
                    height: 63px;
                }
            }
    
            .text {
                margin-left: 20px;
    
                .title {
                    color: #0F1726;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: none;
                }
    
                .description {
                    color: #4F4F4F;
                    font-size: 18px;
                    line-height: 137.8%;
                    margin-top: 14px
                }
            }
        }

        .image {
            text-align: end;
            margin: auto 0;

            img {
                max-width: 404px;
                max-height: 330.7px;
            }
        }
    }
}