.students-company {
    padding: 70px 0;

    .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #0F1726;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        text-transform: none;
    }

    .subtitle {
        font-size: 18px;
        line-height: 137%;
        color: #828282;
        text-align: center;
        max-width: 50%;
        display: grid;
        margin: 0 auto 25px;
    }

    .companies {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;

        img {
            height: 28px;
            margin-top: 40px;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}